<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-bind</title>
    <style>
        #app {
            margin: 50px auto;
            width: 600px;
        }

        fieldset {
            border: 2px solid orangered;
            margin-bottom: 20px;
        }

        fieldset input {
            width: 200px;
            height: 30px;
            margin: 10px 0;
        }

        table {
            width: 600px;
            border: 2px solid orangered;
            text-align: center;
        }

        thead {
            background-color: orangered;
        }
    </style>
</head>
<body>
<div id="app">
    <!--part 1-->
    <fieldset>
        <legend>Student register system</legend>

    <div>
        <span>name:</span>
        <input type="text" placeholder="input name" v-model="newStudent.name">
    </div>
    <div>
        <span>age:</span>
        <input type="text" placeholder="input age" v-model="newStudent.age">
    </div>
    <div>
        <span>gender:</span>
        <select v-model="newStudent.gender">
            <option value="male">male</option>
            <option value="female">female</option>
        </select>
    </div>
    <div>
        <span>phone:</span>
        <input type="text" placeholder="input phone" v-model="newStudent.phone">
    </div>
        <button @click="createNewStudent()">create</button>
    </fieldset>

    <!--part 2-->
    <table>
        <thead>
        <tr>
            <td>name</td>
            <td>gender</td>
            <td>age</td>
            <td>phone</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(p, idx) in students">
            <td>{{ p.name }}</td>
            <td>{{ p.gender }}</td>
            <td>{{ p.age }}</td>
            <td>{{ p.phone }}</td>
            <td>
                <button @click="deleteStudentMsg(idx)">delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="js/vue.js"></script>
<script src="js/vue-resource.js"></script>
<script>
    new Vue({
        el: '#app',
        mounted() {
            this.getStudentList();
        },
        data: {
            students: [],
            newStudent : {name: '', age: 0, gender: '', phone: ''}
        },
        methods: {
            // 获取学生列表
            getStudentList(){
                {
                    // GET /someUrl
                    this.$http.get('http://127.0.0.1:5000/queryStudents').then(response => {

                        // get body data
                        this.students = response.body;
                    }, response => {
                        // error callback
                        alert('网络异常');
                    });
                }
            },

            // create
            createNewStudent(){
                if(this.newStudent.name === '') {
                    alert('empty name not allowed!');
                    return;
                }

                if(this.newStudent.age <= 0) {
                    alert('age is greater than 0!');
                    return;
                }

                if(this.newStudent.phone === '') {
                    alert('empty phone not allowed!');
                    return;
                }

                // this.students.unshift(this.newStudent);
                // GET /someUrl
                this.$http.post('http://127.0.0.1:5000/addStudent',
                    this.newStudent,
                    {emulateJSON: true}).then(response => {

                    if(response.body === 200){
                        this.getStudentList();
                    }
                }, response => {
                    // error callback
                    alert('插入数据失败');
                });


                // 清空数据
                this.newStudent = {name: '', age: 0, gender: '', phone: ''}
            },

            // delete
            deleteStudentMsg(idx){
                this.students.splice(idx, 1);
            }
        }

    });
</script>
</body>
</html>